<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            width: 30%;
            margin-right: 20px;
            margin-bottom: 20px;
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <h2>Welcome, {{ current_user.username }}!</h2>
    <p>You are logged in as an administrator.</p>

    <!-- Add User Form -->
    <div class="card mt-4">
        <div class="card-header">
            <h4>Add New User</h4>
        </div>
        <div class="card-body">
            <form method="POST" action="{{ url_for('user') }}">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" class="form-control" value="{{ request.form['username'] }}" required>

                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control" value="{{ request.form['password'] }}" required>

                    <label for="roles">Role:</label>
                    <select name="roles" class="form-control" required>
                        {% for role in existing_roles %}
                            <option value="{{ role.name }}">{{ role.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Add User</button>
            </form>
        </div>
    </div>

    <!-- Add Role Form -->
    <div class="card mt-4">
        <div class="card-header">
            <h4>Add New Role</h4>
        </div>
        <div class="card-body">
            <form method="POST" action="{{ url_for('role') }}">
                <div class="form-group">
                    <label for="role">Role Name:</label>
                    <input type="text" name="role" class="form-control" placeholder="My role name" value="{{ request.form['role'] }}" required>

                    <label for="description">Description:</label>
                    <input type="text" name="description" class="form-control" placeholder="My new role" value="{{ request.form['description'] }}" required>

                    <label for="permissions">Permissions:</label>
                    <input type="text" name="permissions" class="form-control" placeholder="view,upload,test" value="{{ request.form['permissions'] }}" required>
                </div>
                <button type="submit" class="btn btn-primary">Add Role</button>
            </form>
        </div>
    </div>

    <!-- Add Case Form -->
    <div class="card mt-4">
        <div class="card-header">
            <h4>Add New Case</h4>
        </div>
        <div class="card-body">
            <form method="POST" action="{{ url_for('case') }}">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" class="form-control" placeholder="AWS ransomware incident" value="{{ request.form['name'] }}" required>

                    <label for="client">Client:</label>
                    <input type="text" name="client" class="form-control" placeholder="InsecureCorp LLC" value="{{ request.form['client'] }}" required>

                    <label for="splunk_index">Splunk Index:</label>
                    <input type="text" name="splunk_index" class="form-control" placeholder="myNewIndex" value="{{ request.form['splunk_index'] }}"required>

                    <label for="assigned_users">Assigned Users:</label>
                    <select name="assigned_users" class="form-control" multiple required>
                        {% for user in existing_users %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Create Case</button>
            </form>
        </div>
    </div>

    <!-- Display Existing Users -->
    <div class="card mt-4">
        <div class="card-header">
            <h4>Existing Users</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Id</th>
                        <th>Roles</th>
                        <!-- Add other user-related columns if needed -->
                    </tr>
                </thead>
                <tbody>
                    {% for user in existing_users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.id }}</td>
                            <td>
                                {% for role in user.roles %}
                                    {{ role.name }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Display Existing Roles -->
    <div class="card mt-4">
        <div class="card-header">
            <h4>Existing Roles</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Role Name</th>
                        <th>Description</th>
                        <th>Permissions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in existing_roles %}
                        <tr>
                            <td>{{ role.name }}</td>
                            <td>{{ role.description }}</td>
                            <td>{{ role.permissions }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h4>Existing Cases</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Case Name</th>
                        <th>Client Name</th>
                        <th>Splunk Index</th>
                        <th>Assigned users</th>
                    </tr>
                </thead>
                <tbody>
                    {% for case in cases_users %}
                        <tr>
                            <td>{{ case.name }}</td>
                            <td>{{ case.client }}</td>
                            <td>{{ case.splunk_index }}</td>
                            <td>
                                {% for user in case.assigned_users %}
                                    {{ user.username }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <a href="{{ url_for('logout') }}" class="btn btn-secondary">Logout</a>
</div
